{
	"timeZone": "America/Denver",
	"baseUrl": "example.com",
	"siteName": "Example App",
	"contactPhone": "5555555555",
	"mobileUrl": "ex.io",
	"domain": {
		"production": "yourdomain.com",
		"staging": "staging.yourdomain.com",
		"development": "localhost",
		"subdomains": {
			"api": "api",
			"main": "app",
			"crm": "crm",
			"developer": "dev"
		},
		"ssl": true,
		"ports": {
			"development": {
				"api": 8443,
				"main": 3000,
				"crm": 3001,
				"developer": 3002
			}
		}
	},
	"env": "dev",
	"errorReporting": true,
	"errorTracking": true,
	"email": {
		"fromName": "Company Name",
		"address": "app.example.com",
		"default": "notice@app.example.com",
		"smtp": {
			"host": "smtp.mailtrap.io",
			"port": 2525,
			"username": "your_username",
			"password": "your_password",
			"sendingEnabled": true
		}
	},
	"cache": {
		"driver": "RedisDriver",
		"connection": {
			"password": "ProtoRedis2025!CacheSecure#123456789",
			"host": "redis",
			"port": 6379
		}
	},
	"database": "Mysqli",
	"session": "database",

	"supportedFileTypes": ["gif", "csv", "jpeg", "jpg", "png", "webp", "svg", "txt", "pdf", "doc", "docx", "xlsx", "pptx", "pages", "heic", "mp3", "wav", "mp4", "mov"],

	"connections": {
		"default": {
			"dev": {
				"username": "proto_app_user",
				"password": "ProtoApp2025!SecureDbPass#789",
				"host": "mariadb",
				"database": "proto",
				"port": 3306
			},
			"prod": {
				"username": "proto_app_user",
				"password": "ProtoApp2025!SecureDbPass#789",
				"host": "mariadb",
				"database": "proto",
				"port": 3306
			},
			"testing": {
				"username": "root",
				"password": "root",
				"host": "127.0.0.1",
				"database": "proto",
				"port": 3307
			}
		}
	},

	"files": {
		"local": {
			"path": "/public/files/",
			"main": {
				"path": "/public/files/main/"
			}
		},
		"amazon": {
			"s3": {
				"credentials": {
					"secretKey": "",
					"accessKey": ""
				},
				"bucket": {
					"uploads": {
						"secure": true,
						"name": "main",
						"path": "main/",
						"region": "",
						"version": "latest"
					}
				}
			},
			"cloudFront": {
				"url": "",
				"keyPairId": "",
				"version": "",
				"region": "",
				"credentials": {
					"secretKey": "",
					"accessKey": ""
				}
			}
		}
	},

	"router": {
		"basePath": "/api/",
		"maxRequests": 1200
	},

	"services": [

	],

	"modules": [
		"Example\\ExampleModule",
		"Product\\ProductModule",
		"User\\UserModule",
		"Auth\\AuthModule",
		"Developer\\DeveloperModule",
		"Client\\ClientModule"
	],

	"apis": {
		"openAi" : {
			"key": ""
		}
	},

	"sms": {
		"driver": "TwilioDriver",
		"session": "",
		"twilio": {
			"accountSid": "",
			"authToken": "",
			"from": ""
		}
	},

	"encryption": {
		"key": "ae92b7c1a5d982e36f46d8739dfef6f748f89c2de54b3caed9cf20a56bda27d637ec4b2145f987a6bc319048ab82c7f1dcf46dca7a24935b5ae1f34a6173d938"
	},

	"push": {
		"auth": {
			"VAPID": {
				"subject": "mailto:notice@app.example.com",
				"publicKey": "BLQ5dFCQWbjg4SwqEe1NNYm31aD4MMNXsflFsCc-TxbipA1eTqtX_XdJqpCGq8tTbqYtSCVJFLB4d0D4FOtTrS4",
				"privateKey": "SwAtnX-D4ycX-VREG-O6gA9Z8RSdQT60Rp0E-1uEVPM"
			}
		}
	}
}