{
	"timeZone": "America/Denver",
	"baseUrl": "example.com",
	"siteName": "Example App",
	"contactPhone": "5555555555",
	"mobileUrl": "ex.io",
	"urls": {
		"prod": "app.example.com",
		"staging": "staging.example.com",
		"dev": "proto.local"
	},
	"env": "dev",
	"errorReporting": true,
	"errorTracking": true,
	"email": {
		"fromName": "Company Name",
		"address": "app.example.com",
		"default": "notice@app.example.com",
		"accounts": {
			"default": {
				"server": "app.example.com",
				"username": "notice@app.example.com",
				"password": "",
				"port": "993"
			}
		}
	},
	"cache": {
		"driver": "RedisDriver",
		"connection": {
			"password": "",
			"host": "127.0.0.1",
			"port": 6379
		}
	},
	"database": "Mysqli",
	"session": "database",

	"supportedFileTypes": ["gif", "csv", "jpeg", "jpg", "png", "webp", "svg", "txt", "pdf", "doc", "docx", "xlsx", "pptx", "pages", "heic", "mp3", "wav", "mp4", "mov"],

	"connections": {
		"default": {
			"dev": {
				"username": "root",
				"password": "root",
				"host": "127.0.0.1",
				"database": "proto",
				"port": 3306
			},
			"prod": {
				"username": "root",
				"password": "root",
				"host": "127.0.0.1",
				"database": "proto",
				"port": 3306
			}
		}
	},

	"files": {
		"local": {
			"path": "/common/files/",
			"main": {
				"path": "/common/files/main/"
			}
		},
		"amazon": {
			"s3": {
				"credentials": {
					"secretKey": "",
					"accessKey": ""
				},
				"bucket": {
					"uploads": {
						"secure": true,
						"name": "main",
						"path": "main/",
						"region": "",
						"version": "latest"
					}
				}
			},
			"cloudFront": {
				"url": "",
				"keyPairId": "",
				"version": "",
				"region": "",
				"credentials": {
					"secretKey": "",
					"accessKey": ""
				}
			}
		}
	},

	"router": {
		"basePath": "/api/",
		"maxRequests": 1200
	},

	"services": [

	],

	"modules": [
		"Example\\ExampleModule",
		"Product\\ProductModule",
		"User\\UserModule",
		"Auth\\AuthModule",
		"Developer\\DeveloperModule"
	],

	"apis": {
		"openAi" : {
			"key": ""
		}
	},

	"sms": {
		"driver": "TwilioDriver",
		"session": "",
		"twilio": {
			"accountSid": "",
			"authToken": "",
			"from": ""
		}
	},

	"push": {
		"auth": {
			"VAPID": {
				"subject": "mailto:notice@app.example.com",
				"publicKey": "BLQ5dFCQWbjg4SwqEe1NNYm31aD4MMNXsflFsCc-TxbipA1eTqtX_XdJqpCGq8tTbqYtSCVJFLB4d0D4FOtTrS4",
				"privateKey": "SwAtnX-D4ycX-VREG-O6gA9Z8RSdQT60Rp0E-1uEVPM"
			}
		}
	}
}